body {
  background-color: white;
}

.navbar-inverse {
  background-color: gray;
}

h1 {
  text-align: center;
  color: #FFC300;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 300%;
}

h2 {
  text-align: center;
  color: #FFC300;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 150%;
}

h3 {
  color: #FFC300;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 150%;
  text-decoration: underline;
}

p {
  color: gray;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 150%;
  text-align: justify;
}

.list-item {
  color: gray;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 100%;
  text-align: center;
  margin: auto;
}

.list-item-b {
  color: gray;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 65%;
  text-align: center;
  float: left;
  margin: auto;
}

table, th, td {
  color: gray;
  font-family: "Gill Sans";
  font-weight: 100;
  border: 1px gray;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

th{
  font-weight: bold;
}

label {
  color: gray;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 150%;
  text-align: justify;
}

ul {
  list-style-type: circle;
  color: gray;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 150%;
}

ol {
  list-style-type: lower-alpha;
  color: #FFC300;
  font-family: "Gill Sans";
  font-weight: 100;
  font-size: 150%;
}

.center {
  text-align: center;
}

iframe {
  display: block;
  border-style:none;
}

a { 
  color: #FFC300;
}

a:hover {
  color: #FFC300;
}

.img-left {
  float: left;
  margin-right: 1em;
}

.nav-pills>li:nth-child(even) {
    background-color: white;
    text-align: center;
    font-size: 80%;
    vertical-align: middle;
    display: inline-block;
 }
 
.nav-pills>li:nth-child(odd) {
    background-color: white;
    text-align: center;
    font-size: 80%;
    vertical-align: middle;
    display: inline-block;
 }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFC300;
    background-color: #FFF5D6;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    }
    
.nav-pills > li.active {
    background-color: white;
    }

.nav-pills > li > a:hover {
    background-color: #FFF5D6 !important;
}

.spoiler {
  visibility: hidden;
}

.spoiler::before {
  visibility: visible;
  content: "Hover to see the answer.";
  font-weight: bold;
}

.spoiler:hover {
  visibility: visible;
}

.spoiler:hover::before {
  display: none;
}